absl-py
annotated-types
astunparse
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cssselect
cssutils
cymem
es-core-news-sm
filelock
Flask
flatbuffers
fsspec
fuzzywuzzy
gast
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
idna
itsdangerous
Jinja2
joblib
keras
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
more-itertools
murmurhash
namex
nltk
numpy
opt_einsum
optree
packaging
pandas
premailer
preshed
protobuf
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
tensorboard
tensorboard-data-server
torch

termcolor
tf_keras
thinc
threadpoolctl
tokenizers
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
wheel
wrapt
xgboost
yagmail