absl-py
annotated-types
astunparse
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cssselect
cssutils
cymem
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.4.0/es_core_news_sm-3.4.0-py3-none-any.whl
filelock
Flask
flatbuffers
fsspec
fuzzywuzzy
gast
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
idna
itsdangerous
Jinja2
joblib
keras
langcodes
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
more-itertools
murmurhash
namex
nltk
numpy
opt_einsum
optree
packaging
pandas
premailer
preshed
protobuf
pydantic
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
termcolor
thinc
threadpoolctl
tokenizers
tqdm
transformers
typer
typing-extensions
tzdata
urllib3
wasabi
Werkzeug
wheel
wrapt
xgboost
yagmail


