<section id="about"  class="mt-3 container mx-auto text-center py-16 " style="height: 80vh;">
    <h1 class="text-5xl font-extrabold text-gray-800">Quiénes somos</h1>
    <p class="text-xl mt-6 text-gray-600 max-w-3xl mx-auto">
    
        En add to nos dedicamos al desarrollo de soluciones basados
        en inteligencia artificial, tienes a tu disposición un asistente virtual
        inteligente, que entiende e interpreta tu gusto y estilo.
        Nuestro acertado modelo de inteligencia artificial está diseñado para
        enseñarte y guiarte a través del mundo de las compras en línea y
        brindarte el mejor accesorio, te proporcionará recomendaciones
        personalizadas basadas en tu descripción física, personalidad y el
        evento al que asistirás.
        prueba nuestra IA y vive la experiencia.
    </p>
    
    
    <p class="text-lg mt-4 text-gray-600 max-w-2xl mx-auto">
        Con ayuda de nuestra plataforma, optimizamos la experiencia de compra en línea,
        asegurando que cada cliente reciba sugerencias únicas y relevantes. Experimenta este
        nuevo mundo de compras inteligentes.
    </p>
    

</section>
