<section id="social" class="mt-3 relative block bg-gray-900 h-25">
    <div class="container mt-3 mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="text-center mb-12">
        <h2 class="text-4xl font-semibold text-white">Redes Sociales</h2>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <a href="https://www.facebook.com/profile.php?id=61553210856295" target="_blank" rel="noopener" class="w-full lg:w-3/12 px-4 text-center">
          <div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fa-brands fa-facebook"></i>
          </div>
          <h6 class="text-xl mt-5 font-semibold text-white">Facebook</h6>
        </a>
        <a href="https://www.instagram.com/add_to_agency/" target="_blank" rel="noopener" class="w-full lg:w-3/12 px-4 text-center">
          <div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fa-brands fa-instagram"></i>
          </div>
          <h6 class="text-xl mt-5 font-semibold text-white">Instagram</h6>
        </a>
      </div>

      <p class="text-white text-center mt-8">
        Síguenos en nuestras redes sociales para mantenerte al tanto de nuestras últimas novedades, promociones y eventos. En nuestra página de Facebook, compartimos noticias, actualizaciones y contenido exclusivo para nuestra comunidad. En Instagram, encontrarás imágenes inspiradoras, historias detrás de escena y mucho más. No te pierdas de nada y únete a nuestra creciente comunidad en línea.
      </p>
    </div>
</section>