<div id="social" class="fixed bottom-4 right-4 z-50">
  <div id="social-icon" class="bg-gray-900 p-3 w-12 h-12 shadow-lg rounded-full inline-flex items-center justify-center cursor-pointer transition-transform transform hover:scale-110">
    <i class="fa-solid fa-share-nodes text-white"></i>
  </div>
  <div id="social-links" class="hidden flex flex-col items-center mt-2 space-y-2 transition-opacity duration-300 ease-in-out">
    <a href="https://www.facebook.com/profile.php?id=61553210856295" target="_blank" rel="noopener" class="w-12 h-12 shadow-lg rounded-full bg-blue-600 inline-flex items-center justify-center transition-transform transform hover:scale-110">
      <i class="fa-brands fa-facebook text-white"></i>
    </a>
    <a href="https://www.instagram.com/add_to_agency/" target="_blank" rel="noopener" class="w-12 h-12 shadow-lg rounded-full bg-pink-500 inline-flex items-center justify-center transition-transform transform hover:scale-110">
      <i class="fa-brands fa-instagram text-white"></i>
    </a>
  </div>
</div>

<script>
  document.getElementById('social-icon').addEventListener('click', function() {
    var socialLinks = document.getElementById('social-links');
    if (socialLinks.classList.contains('hidden')) {
      socialLinks.classList.remove('hidden');
      socialLinks.classList.add('opacity-100');
    } else {
      socialLinks.classList.add('hidden');
      socialLinks.classList.remove('opacity-100');
    }
  });
</script>